@import url('fonts/fonts.css');

::-moz-selection {
  color: #F9F9F9;
  background: #4472C4;
  text-decoration: none;
}

::selection {
  color: #F9F9F9;
  background: #4472C4; 
  text-decoration: none;
}

html {
  font-size: 18px; 
  font-family: 'Nunito-R', 'Nunito', sans-serif;
}

b {
  font-family: 'Nunito-B';
}

body {
  margin: 0 auto;
  color: #111;
  background-color: #F9F9F9;
  transition: all 1000ms cubic-bezier(0.76, 0, 1, 1);
}

.container {
  max-width: 700px;
  margin: 15vh auto;
  padding: 0 20px; 
}

p {
  font-size: 1.3rem;
  line-height: 2.2rem;
  text-indent: 2.2rem;
  margin: 0; 
}

a {
  text-decoration: none;
  color: #111;
  padding-bottom: 2px;
  text-decoration: underline double;
} a:hover {
  color: #4472C4;
  cursor: pointer;
  text-decoration: underline dashed;
}

span { display: none; }

.off { display: none; }

.on { display: inline; }
