<div class="container">
  
    <p> <!-- About -->
      <span class="on">This <span data-cb="99" class="on"><a data-o="100" data-c="99">website</a></span> <span data-ob="100"><a data-o="110">webapp</a></span> is <a data-o="104">built</a> as a <a data-o="101">semester project</a><span data-ob="101"> by Ahaan, Palash and Ritwik</span>.</span>
      <span data-ob="104">If you'd like, you can <a data-o="105">try</a> out the app or just <a href="browse" class="internal">browse the zeronet</a> on our server.</span>
      <span data-ob="105"><a data-o="106">Either</a> <a href="register" class="internal">register</a><span data-ob="106"> or <a href="login" class="internal">login</a> to start using the <a data-o="107">app</a></span>.</span>
      <span data-ob="107">You can even help us <a data-o="108">develop</a>.</span>
      <span data-ob="108">This <a data-o="109">project</a> is under the <a href="https://github.com/palash96rox/sp19proj/blob/master/LICENSE" class="external">GNU GPL v2</a> license.</span>
      <span data-ob="109">You can find our <a data-o="120">code</a> on <a href="https://github.com/palash96rox/sp19proj" class="external">GitHub</a>.</span>
      <span data-ob="120">The repository is <a data-o="121">currently</a> <a data-o="122">private</a>.</span>
      <span data-ob="121">It will be made public <a data-o="122">soon</a>.</span>
      <span data-ob="122">You could wait till it is made <a data-o="123">public</a><span data-ob="123">, or <a href="contact" class="internal">contact us</a> and we will add you as a <a data-o="124">collaborator</a></span>.</span>
      <span data-ob="124">Make sure you send us your GitHub username so we may add you.</span>
    </p>
    <p> <!-- Inspiration -->
      <span data-ob="110">The website is <a data-o="111">inspired</a><span data-ob="111"> by the one made by <a data-o="112">Alan Trotter</a></span>.</span>
      <span data-ob="112"><a data-o="113">Check out</a> his <a href="https://alantrotter.com/?from=zeepeepee.page" class="external">website</a>.</span>
      <span data-ob="113">It is <a data-o="114">pretty cool</a>.</span>
      <span data-ob="114">He is also an <a data-o="115">author</a>.</span>
      <span data-ob="115">So, you can read some stories on his <a href="https://alantrotter.com/?from=zeepeepee.page" class="external">website</a> <a data-o="116">as well</a>.</span>
      <span data-ob="116">He has even done a <a href="http://theses.gla.ac.uk/6852/1/2015trotterphd.pdf" class="external">PhD</a> on this <a data-o="117">unusual form</a> of writing.</span>
      <span data-ob="117">He <a data-o="118">talks</a> about it on his <a href="https://alantrotter.com/?from=zeepeepee.page" class="external">website</a>.</span>
      <span data-ob="118">You really should check his <a href="https://alantrotter.com/?from=zeepeepee.page" class="external">website</a> out.</span>
    </p>
</div>