<div class="container">
  <p> <!-- Decentralization -->
    <span class="on"><a data-o="1">Welcome</a>.</span>
    <span data-ob="1">This is <a data-o="2">zero-plus-plus</a>.</span>
    <span data-ob="2">An extension to <a class="external" href="https://zeronet.io">zeronet</a> to accelerate the transition to <a data-o="3">decentralization</a> and <a data-o="4">blockchain</a> networks.</span>
    <span data-ob="3">Decentralization is a revolutionary way of thinking where there exists no <a data-o="5">single point of failure</a>.</span>
    <span data-ob="5">Typically, stuff on the internet is stored in <a data-o="6">silos</a>.</span>
    <span data-ob="6">There is a <a data-o="7">single server</a> <span data-ob="7"> or a host</span> <a data-o="8"> serving</a> the website.</span>
    <span data-ob="8">An attack on that server will lead to <a data-o="9">downtime</a> <span data-ob="9">and an unavailable service</span> causing you a <a data-o="10">mild nusiance</a><span data-ob="10"> or stealing <a data-o="11">your identity</a>.</span></span>
    <span data-ob="11">Decentralisation solves this by relying on <a data-o="12">multiple nodes</a> <span data-ob="12">instead of a <a data-o="13">central authority</a></span>.</span>
    <span data-ob="13">These <a data-o="53">nodes</a> form a <a data-o="15">consensus</a> and serve agreed upon data.</span>
    <span data-ob="15">It is possible to <a data-o="16">change</a> consensus<span data-ob="16"> by a <a data-o="17">51% attack</a></span>.</span>
    <span data-ob="17">This is where you control the <a data-o="16">majority</a> of the nodes and rewrite the <span data-ob="14">rules of the </span><a data-o="14">network</a>.</span>
    <span data-ob="16">This is highly <a data-o="18">difficult</a> though.</span>
    <span data-ob="18">Imagine you have a <a data-o="19">million</a> unique <a data-o="">nodes</a> in your network.</span>
    <span data-ob="19">That would mean you need <span data-ob="20">one more than </span><a data-o="20">half</a> a million to <a data-o="21">successfully</a> corrupt the data.</span>
    <span data-ob="21">Let's face it, that is a <a data-o="22">lot of devices</a>.</span>
    <span data-ob="22">And that is only <a data-o="23">step 1</a>. You have to break the <a data-o="4">encryption</a> too.</span>
    <span data-ob="23">Then you have to ensure that your <a data-o="24">five hundred thousand and one</a> devices <span data-ob="24">(Of course <a data-o="25">assuming</a> that your devices are among the initial million nodes<span data-ob="25">, if not the number changes because it is 51% of total nodes</span>)</span> <a data-o="26">before</a> the remaining nodes.</span>
    <span data-ob="26">See, not that easy to corrupt a decentralized network.</span>
  </p>
  <p> <!-- Cryptography -->
    <span data-ob="4">Blockchain technologies rely <a data-o="27">heavily</a><span data-ob="27"> (among other technologies)</span> on the concept of <a data-o="28">asymmetric encryption</a>.</span>
    <span data-ob="28">The core <a data-o="29">axiom</a> of asymmetricity is that one side is unlike the other<span data-ob="29">, which in computer science translates to <a data-o="30">one way computation</a></span>.</span>
    <span data-ob="30">The <a data-o="33">simplest</a> one way function is <a data-o="31">multiplication</a>.</span>
    <span data-ob="31" data-cb="98">It is easy to see that <b>29*31=<a data-o="32" data-c="98" data-r="0">899</a></b>.</span>
    <span data-ob="32" data-cb="97">It is relatively difficult to figure out that <b>899</b> is formed by multplying <b><a data-o="31" data-c="97" data-r="0">29 and 31</a></b>.</span>
    <span data-ob="33">There more <a data-o="34">complex</a> one way hash functions <span data-ob="34">(such as, <a href="https://en.wikipedia.org/wiki/SHA-2" class="external">SHA</a> and <a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)" class="external">RSA</a>)</span> used in <a data-o="35">cryptography</a>.</span>
    <span data-ob="35">Indeed, as humanity <a data-o="37">progresses</a>, <a data-o="36">so do cryptographic functions</a><span data-ob="36"> (Read more about the history of code making and code breaking in this <a href="https://simonsingh.net/books/the-code-book/" class="external">wonderful book by Simon Singh</a>)</span>.</span>
    <span data-ob="37">Currently, we use <a href="https://en.wikipedia.org/wiki/Elliptic-curve_cryptography" class="external">Elliptic Curve Cryptography</a> in <span data-cb="96" data-ob="37">our most <a data-o="38" data-c="96">advanced</a></span> <span data-ob="38"><a data-o="39">blockchain</a> </span>projects.</span>
  </p>
  <p> <!-- P2P -->
    <span data-ob="39">Blockchain utilizes decentralization and <a data-o="4">advanced cryptography</a> to bring in <span data-ob="39" data-cb="95">the <a data-o="40" data-c="95">next generation</a> of the internet</span><span data-ob="40"><a data-o="41">Web 3.0</a></span>.</span>
    <span data-ob="41">Only the <a data-o="42">lemon twist</a> in this <a data-o="50">martini</a> is missing.</span>
    <span data-ob="42">The twist in this case is <a data-o="43">torrents</a>.</span>
    <span data-ob="43">Rather the <a data-o="45">technology</a> of <span data-ob="43" data-cb="94"><a data-o="44" data-c="94">P2P</a></span><span data-ob="44">peer to peer</span> transfers making torrents possible.</span>
    <span data-ob="45"><span data-ob="45" data-cb="93"><a data-o="46" data-c="93">P2P</a></span><span data-ob="46">Peer to Peer</span> is exactly what it <a data-o="47">sounds like</a>.</span>
    <span data-ob="47">It is the exchange of information <a data-o="48">among peers</a><span data-ob="48">, rather than from a <a data-o="49">single source</a></span>.</span>
    <span data-ob="49">Yep, pretty similar to decentralization.</span>
  </p>
  <p> <!-- Zeronet -->
    <span data-ob="50">The martini that is zeronet <a data-o="51">combines</a> the gin that is blockchain and the vermouth that is decentralization.</span>
    <span data-ob="51">Garnish this with the P2P twist and <a data-o="52">serve</a> chilled.</span>
    <span data-ob="52"><a href="/" class="internal">zero-plus-plus</a> aims to be the <a data-o="57">ice</a>, to making the drink go down easier.</span>
    <span data-ob="53">Zeronet <a data-o="54">publishes</a> a site on the secure and immuatable blockchain network.</span>
    <span data-ob="54">Any visitor to the zerosite then downloads the <a data-o="56" title="zerosite">zite</a> and <a data-o="55">runs it on their machine</a><span data-ob="55">, eliminating the need for hosting central servers</span>.</span>
    <span data-ob="56">Any future visits to the zerosite just updates the data you already posses!</span>
    <span data-ob="57">This webapp allows you to <a href="register" class="internal">register</a>, <a href="login" class="internal">login</a>, <a href="create" class="internal">create zerosites</a>, <a href="update" class="internal">update your zerosites</a>, and <a href="browse" class="internal">browse the zeronet</a>.</span>
  </p>
</div>