<link rel="stylesheet" href="static/css/form.css">

<div class="container">
    <form method="POST" action="">
        {{ form.csrf_token()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Start using the zeronet today!</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

            {{ form.pub(value=pub) }}
            {{ form.priv(value=priv) }}
        </fieldset>

    </form>
    <div class="container">
        <p class="left">Your unique public key:<br>{{ pub }}</p>
        <p class="right">
            Your associated private key:<br>
            <span onclick="copy('{{priv}}')" class="copy-to-clipboard" title="Copy to clipboard">{{ priv }}</span>
        </p>
        <p class="center important">
            Save your private key above as it will be used to login to the portal!
        </p>
    </div>
</div>

<script>
function copy(key) {
    navigator.clipboard.writeText(key);
}
</script>